---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1 class="text-3xl font-bold underline">test</h1>

<div class="grid grid-cols-3 gap-4">
    <div>
         <img src="images/demo1.png">
         <div class='grid grid-cols-7'>
            <img src="images/pine.png">
            <p>brand name</p>
            <p>group</p>
            <p>1.4</p>
            <p>1.5</p>
            <p>1.6</p>
            <p>1.7</p>
         </div>
    </div>
         
    <div>
        <img src="images/demo2.png">
        <div class='grid grid-cols-7'>
            <p>2.1</p>
            <p>2.2</p>
            <p>2.3</p>
            <p>2.4</p>
            <p>2.5</p>
            <p>2.6</p>
            <p>2.7</p>
         </div>
    </div>

    <div>
         <img src="images/demo3.png">
        <div class='grid grid-cols-7'>
            <p>3.1</p>
            <p>3.2</p>
            <p>3.3</p>
        </div>
    </div>
   
   
   
</div>