---
layout: layout.liquid
title: 11ty Boilerplate
---


<div class="grid gap-10 grid-cols-3 p-8">
    
    {% post 'demo3' 'pfp1' 'brand' 'PRO' '1123' '526' %}
         
    {% post 'demo2' 'pfp2' 'brand' 'PRO' '1123' '526' %}

    {% post 'demo1' 'pfp3' 'brand' 'PRO' '1123' '526' %}

    {% post 'demo4' 'pfp4' 'brand' 'PRO' '1123' '526' %}

    {% post 'demo5' 'pfp5' 'brand' 'PRO' '1123' '526' %}

    {% post 'demo6' 'pfp6' 'brand' 'PRO' '1123' '526' %}
   
   
   
</div>